.about {
  height: 100vh;
  width: 100vw;
  padding: 7.5rem 4rem 0 4rem;
  display: flex;
  align-items: center;
}
.about .text-container,
.about .photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  width: 50%;
  height: 100%;
  text-align: left;
  position: relative;
}

.about .text-container h1 {
  width: 25rem;
  font-size: 35px;
  font-weight: 400;
  color: #000;
  position: relative;
  margin: 0 auto 3rem auto;
}
/* .about .text-container h1::before {
  content: "";
  display: block;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  background-color: #ff7b7b31;
  position: absolute;
  left: -7.5rem;
  top: -12.5rem;
  z-index: -1;
}
.about .text-container h1::after {
  content: "";
  display: block;
  height: 2px;
  width: 20rem;
  background-color: #ff0513;
  position: absolute;
  left: 17.5rem;
  top: 1.5rem;
  z-index: -1;
} */
.about .text-container .paragraphe-container {
  width: 100%;
}
.about .text-container .paragraphe-container p {
  width: 25rem;
  margin: auto;
  margin-bottom: 2rem;
  font-size: 14px;
  font-weight: 200;
}
.about .photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .photo-container img {
  width: 35rem;
  object-fit: contain;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}
.about .photo-container img::after {
  content: "";
  height: 20rem;
  width: 20rem;
  display: block;
  position: absolute;
  bottom: 0;
  left: -3rem;
  background-color: #ff7b7b31;
  z-index: -1;
}
@media screen and (min-width: 1500px) {
  .about .text-container h1::after {
    left: 45rem;
    width: 30rem;
  }
  .about .text-container p {
    margin: auto;
  }
  .about .photo-container img {
    margin: 4rem 0;
  }
}
@media screen and (max-width: 1200px) {
  .about {
    padding: 7.5rem 1rem 0 1rem;
    height: auto;
  }
  .about .text-container {
    padding: 0 2rem;
  }
  .about .photo-container img {
    width: 25rem;
  }
}
@media screen and (max-width: 960px) {
  .about {
    flex-direction: column;
  }
  .about .text-container,
  .about .photo-container {
    width: 100%;
  }
  .about .text-container h1 {
    width: 100%;
  }
  .about .text-container .paragraphe-container p {
    width: 80%;
  }
  .about .text-container h1::after {
    display: none;
  }

  .about .photo-container img {
    width: 80vw;
    max-width: 25rem;
    margin: 4rem 0;
  }
}
@media screen and (max-width: 550px) {
  .about .text-container .paragraphe-container p {
    width: 100%;
  }
}
