.about {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.about .text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  text-align: left;
  position: relative;
  flex: auto;
  margin: auto;
}
.about .text-container h1 {
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  margin: auto;
}
.about .text-container .photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  text-align: left;
  position: relative;
  margin: 4rem auto;
}
.about .text-container .photo-container img {
  height: 25rem;
  width: 25rem;
  object-fit: cover;
  position: relative;
  margin: auto;
}

.about .text-container .paragraphe-container {
  width: 40rem;
  height: auto;
  margin: auto;
  margin-bottom: 2rem;
  text-align: left;
  font-size: 22px;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.75);
  font-family: "Josefin sans", sans-serif;
  letter-spacing: 1px;
}
.codex-editor__redactor {
  padding-bottom: 0 !important;
  margin-right: 0 !important;
}

@media screen and (max-width: 1200px) {
  .about {
    margin: 0 0 0 0;
    padding: 0rem 0 0 0;
    height: auto;
  }
  .about .text-container {
    width: 80%;
    padding: 0;
  }
}
@media screen and (max-width: 960px) {
  .about {
    flex-direction: column;
  }

  .about .text-container .photo-container {
    width: 100%;
  }
  .about .text-container h1 {
    text-align: center;
    width: 100%;
  }
  .about .text-container .paragraphe-container {
    width: 100%;
    min-height: 0;
    margin: auto;
    text-align: justify;
  }

  .about .text-container .photo-container {
    margin: 4rem 0;
  }
  .about .text-container .photo-container img {
    height: 25rem;
    width: 100%;
    max-width: 25rem;
  }
}
@media screen and (max-width: 550px) {
  .about .text-container .paragraphe-container {
    width: 100%;
  }
}
