.about {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  margin: 7.5rem auto 5rem auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about .photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  width: 50%;
  height: 100%;
  text-align: left;
  position: relative;
}
.about .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  width: 30%;
  height: 100%;
  text-align: left;
  position: relative;
}

.about .text-container h1 {
  width: 30rem;
  font-size: 35px;
  font-weight: 400;
  color: #000;
  position: relative;
  margin: 0 auto 2rem auto;
  text-align: left;
}
/* .about .text-container h1::before {
  content: "";
  height: 18rem;
  width: 18rem;
  display: block;
  position: absolute;
  bottom: -2rem;
  left: -5rem;
  background-color: #ff7b7b31;
  z-index: -1;
} */
.about .text-container h1::after {
  content: "";
  display: block;
  height: 1px;
  width: 15rem;
  background-color: #ff0513;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  z-index: -1;
  margin: auto;
}
.about .text-container .paragraphe-container {
  width: 30rem;
  height: auto;
  margin: auto;
  margin-bottom: 2rem;
  text-align: left;
  font-size: 16px;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.75);
}
.codex-editor__redactor {
  padding-bottom: 0 !important;
  margin-right: 0 !important;
}
/* .about .photo-container::after {
  content: "";
  height: 20rem;
  width: 20rem;
  display: block;
  position: absolute;
  bottom: -4rem;
  left: 6rem;
  background-color: #ff05121c;
  z-index: -1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} */
.about .photo-container img {
  height: 45rem;
  width: 30rem;
  object-fit: cover;
  position: relative;
  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media screen and (min-width: 1500px) {
  .about .text-container h1::after {
    width: 30rem;
  }
  .about .text-container p {
    margin: auto;
  }
  .about .photo-container img {
    margin: 4rem 0;
  }
}
@media screen and (max-width: 1500px) {
  .about .text-container {
    width: 50%;
    padding: 0 1rem;
  }
  .about .photo-container img {
    height: 40rem;
    width: 25rem;
  }
}
@media screen and (max-width: 1200px) {
  .about {
    margin: 0 0 0 0;
    padding: 7.5rem 1rem 0 1rem;
    height: auto;
  }
  .about .text-container {
    width: 95%;
    padding: 0 1rem;
  }
  .about .text-container h1::after {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .about {
    flex-direction: column;
  }

  .about .photo-container {
    width: 100%;
  }
  .about .text-container h1 {
    width: 100%;
  }
  .about .text-container .paragraphe-container {
    width: 100%;
    min-height: 0;
    margin: auto;
  }

  .about .photo-container {
    margin: 4rem 0;
  }
  .about .photo-container img {
    height: 25rem;
    width: 100%;
    max-width: 25rem;
  }
}
@media screen and (max-width: 550px) {
  .about .text-container .paragraphe-container {
    width: 100%;
  }
}
