.about {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about .photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  width: 35%;
  height: 100%;
  text-align: left;
  position: relative;
}
.about .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 35%;
  height: 100%;
  text-align: left;
  position: relative;
}

.about .text-container h1 {
  width: 30rem;
  font-size: 50px;
  font-weight: 600;
  color: #000;
  position: relative;
  margin: 0 auto 1rem auto;
  text-align: left;
  font-family: "Zen Loop", cursive;
}
.about .text-container .paragraphe-container {
  width: 30rem;
  height: auto;
  margin: auto;
  margin-bottom: 2rem;
  text-align: left;
  font-size: 16px;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.75);
  font-family: "Poppins", sans-serif;
}
.codex-editor__redactor {
  padding-bottom: 0 !important;
  margin-right: 0 !important;
}
.about .photo-container img {
  height: 30rem;
  width: 30rem;
  object-fit: contain;
  position: relative;
  margin: auto;
}

@media screen and (min-width: 1500px) {
  .about .text-container h1::after {
    width: 30rem;
  }
  .about .text-container p {
    margin: auto;
  }
  .about .photo-container img {
    margin: 4rem 0;
  }
}
@media screen and (max-width: 1500px) {
  .about .text-container {
    width: 50%;
    padding: 0;
  }
  .about .photo-container img {
    height: 30rem;
    width: 25rem;
  }
}
@media screen and (max-width: 1200px) {
  .about {
    margin: 0 0 0 0;
    padding: 5rem 1rem 0 1rem;
    height: auto;
  }
  .about .text-container {
    width: 95%;
    padding: 0;
  }
  .about .text-container h1::after {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .about {
    flex-direction: column;
  }

  .about .photo-container {
    width: 100%;
  }
  .about .text-container h1 {
    text-align: center;
    width: 100%;
  }
  .about .text-container .paragraphe-container {
    width: 100%;
    min-height: 0;
    margin: auto;
    text-align: justify;
  }

  .about .photo-container {
    margin: 4rem 0;
  }
  .about .photo-container img {
    height: 25rem;
    width: 100%;
    max-width: 25rem;
  }
}
@media screen and (max-width: 550px) {
  .about .text-container .paragraphe-container {
    width: 100%;
  }
}
