.admin {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  padding-top: 12rem;
}
.admin-component {
  width: 100%;
  height: auto;
  min-height: 100vh;
}
@media screen and (max-width: 960px) {
  .admin {
    padding-top: 20rem;
  }
}
