.auth {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth h2 {
  margin: 0;
  margin-bottom: 2rem;
  font-weight: 400;
}
.auth input {
  margin: 0;
  margin-bottom: 2rem;
  border: 1px solid rgba(199, 199, 199, 0.363);
  width: 20rem;
  height: 3rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  outline: none;
  box-sizing: border-box !important;
}
input {
}
.auth button {
  width: 20rem;
  height: 3rem;
  background-color: #ff0513;
  border: none;
  font: 400 18px "Josefin sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
  color: #fff;
}
.auth button:hover {
  background-color: #cf000a;
}
