.banner {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.342);
}
.banner .video-banner {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  filter: grayscale(1);
  z-index: 0;
  object-fit: cover;
}
.banner .mask {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.342);
}
.banner .text-container {
  position: relative;
  color: white;
  height: 100vh;
  width: 100%;
  padding-left: 2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7.5rem;
  padding-top: 2rem;
  z-index: 2;
}
.banner .text-container h1 {
  font-size: 60px;
  font-weight: 200;
}
.banner .text-container h1 {
  font-size: 90px !important;
  font-weight: 600;
  line-height: 90px;
  margin-bottom: 2rem;
  font-family: "Nothing You Could Do", cursive;
  text-align: center;
}
.banner .text-container .links-container * {
  font-size: 40px;
  margin: 1rem 0;
  font-weight: 300;
  font-family: "Nothing You Could Do", cursive;
  text-decoration: none;
  color: #ff0513;
}
.banner .text-container .links-container span {
  margin: 0 1rem;
  color: #fff;
}
.banner .text-container .links-container a:hover {
  text-decoration: underline;
}
.banner .network-container {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: fit-content;
  display: flex;
}
.banner .network-container a {
  text-decoration: none;
  color: #fff;
  transition: 0.25s;
  margin-right: 1rem;
}

@media screen and (max-width: 960px) {
  .banner {
    display: flex;
    align-items: center;
  }
  .banner .video-banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .banner .text-container {
    width: 100%;
    padding: 2rem 1rem;
  }
}
@media screen and (max-width: 650px) {
  .banner .text-container h1 {
    font-size: 70px !important;
  }
}
@media screen and (max-width: 450px) {
  .banner {
    height: auto;
  }
  .banner .text-container .links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner .network-container {
    left: 0;
    right: 0;
    margin: auto;
  }
}
