.banner {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background-color: black;
}
.banner .video-banner,
.banner .img-banner {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  filter: grayscale(1);
  z-index: 0;
  object-fit: cover;
  background-color: black;
}
.banner .img-banner {
  background-position: center center;
}
.banner .mask {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.342);
}
.banner .text-container {
  color: white;
  height: 100vh;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.banner .text-container h1 {
  font-size: 100px !important;
  margin-bottom: 2rem;
  font-family: "Zen Loop", cursive !important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  font-weight: 300;
}
.banner .text-container h1 span {
  font-weight: 600;
  font-style: normal;
}
.banner .text-container .links-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  margin: 2rem auto;
}
.banner .text-container .links-container * {
  margin: 1rem 0;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  color: #fff;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
}
.banner .text-container .links-container a {
  font-size: 30px;
  border: 1px solid #ffffffb2;
  padding: 1rem 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 1rem 0;
  border-radius: 60px;
  transition: 0.25s;
}
.banner .text-container .links-container a:nth-child(1) {
  background-color: transparent;
  color: #fff;
}
.banner .text-container .links-container a:nth-child(1):hover {
  background-color: #ffffffe0;
  color: #000;
}
.banner .text-container .links-container a:nth-child(2) {
  border-color: #ff0512e0;
  background-color: transparent;
  color: #ff0513;
}
.banner .text-container .links-container a:nth-child(2):hover {
  background-color: #ff0512e0;
  color: #fff;
}
.banner .text-container p {
  font-family: "Spectral", serif;
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
  margin-top: 4rem;
  letter-spacing: 2px;
  color: #fff !important;
}
.banner .text-container p span {
  font-size: 45px;
}
.banner .network-container {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  width: fit-content;
  display: flex;
  z-index: 3;
  margin: auto;
}
.banner .network-container a {
  text-decoration: none;
  color: #fff;
  transition: 0.25s;
  margin-right: 1rem;
}
.banner .network-container a:hover {
  color: #ff0513;
}

@media screen and (max-width: 1050px) {
  .banner {
    display: flex;
    align-items: center;
  }
  .banner .video-banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .banner .text-container {
    width: 100%;
    padding: 2rem 1rem;
  }
  .banner .text-container .links-container {
    flex-direction: column;
    width: 100%;
    margin: 2rem auto;
  }
  .banner .text-container .links-container a {
    font-size: 30px;
    border: 1px solid #ffffffb2;
    padding: 1rem 1rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 1rem 0;
    border-radius: 60px;
  }
}
@media screen and (max-width: 750px) {
  .banner .text-container h1 {
    font-size: 70px !important;
  }
  .banner .text-container p {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .banner {
    height: auto;
  }
  .banner .text-container h1 {
    font-size: 50px !important;
  }
  .banner .text-container .links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner .text-container .links-container a {
    font-size: 25px;
  }
}
