.blog-item {
  width: auto;
  height: auto;
  margin: 0 1rem 4rem 1rem;
  display: flex;
}
.blog-item img {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  cursor: pointer;
}
.blog-item .text-container {
  margin: 0 2rem;
  width: 30rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.blog-item h2 {
  font-size: 1.5em !important;
  font-weight: 400;
  margin: 1rem 0;
  color: #303030;
}
.codex-editor--narrow .codex-editor__redactor {
  margin-right: 0px !important;
}
.codex-editor__redactor {
  padding-bottom: 0 !important;
}
.blog-item .editor-js-blog-item {
  height: 144px;
  font-weight: 200;
  text-align: justify;
  font-size: 14px;
  line-height: 14px !important;
  overflow: hidden !important;
  position: relative;
}

.blog-item .editor-js-blog-item .ce-paragraph {
  padding: 0 !important;
  line-height: 18px !important;
}
.blog-item a {
  display: block;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.25s;
  color: #ff0513;
}
.blog-item a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1050px) {
  .blog-item {
    margin: 0 auto 4rem auto;
  }
}
@media screen and (max-width: 960px) {
  .blog-item {
    width: auto;
  }
  .blog-item img {
    width: 20rem;
    height: 20rem;
  }
  .blog-item .text-container {
    width: 20rem;
    margin: 0 2rem;
  }
}
@media screen and (max-width: 768px) {
  .blog-item {
    width: 30rem;
    flex-direction: column;
  }
  .blog-item img {
    width: 30rem;
    height: 30rem;
  }
  .blog-item .text-container {
    width: 30rem;
    margin: 0 0rem;
  }
}
@media screen and (max-width: 500px) {
  .blog-item {
    width: 20rem;
    flex-direction: column;
  }
  .blog-item img {
    width: 20rem;
    height: 20rem;
  }
  .blog-item .text-container {
    margin: 0 0rem;
    width: 20rem;
  }
}
@media screen and (max-width: 350px) {
  .blog-item {
    width: 15rem;
    flex-direction: column;
  }
  .blog-item img {
    width: 15rem;
    height: 15rem;
  }
  .blog-item .text-container {
    margin: 0 0rem;
    width: 15rem;
  }
}
