.blogs-container {
  width: 100%;
  height: auto;
  margin: 2rem auto;
}

.blogs-container .items-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}

.show-more-button {
  width: 100%;
  margin: 5rem 0;
}
.show-more-button button {
  height: 3rem;
  width: 10rem;
  max-width: 100vw;
  margin: auto;
  padding: 0.5rem;
  color: #ff0513;
  border: 1px solid #ff0513;
  background-color: transparent;
  cursor: pointer;
  transition: 0.25s;
  font: 200 14px "Josefin sans", sans-serif;
}
.show-more-button button:hover {
  color: #fff;
  border: 1px solid #ff0513;
  background-color: #ff0513;
}
