.blog-item {
  width: 25%;
  height: auto;
  margin-bottom: 4rem;
}
.blog-item img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  cursor: pointer;
}
.blog-item h2 {
  font-size: 1.5em !important;
  font-weight: 400;
  margin: 1rem 0;
}
.blog-item .editor-js {
  height: 144px;
  font-weight: 200;
  text-align: justify;
  font-size: 14px;
  line-height: 14px !important;
  overflow: hidden;
  position: relative;
}

.blog-item .editor-js .ce-paragraph {
  padding: 0 !important;
  line-height: 18px !important;
}
.blog-item a {
  display: block;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.25s;
  color: #ff0513;
}
.blog-item a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 960px) {
  .blog-item {
    width: 40%;
  }
}
@media screen and (max-width: 700px) {
  .blog-item {
    width: 100%;
  }
}
