.blog-item {
  width: 25vw;
  height: auto;
  margin: 0 1rem 4rem 1rem;
}
.blog-item img {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  cursor: pointer;
}
.blog-item h2 {
  font-size: 1.5em !important;
  font-weight: 400;
  margin: 1rem 0;
}
.codex-editor--narrow .codex-editor__redactor {
  margin-right: 0px !important;
}
.codex-editor__redactor {
  padding-bottom: 0 !important;
}
.blog-item .editor-js-blog-item {
  height: 144px;
  font-weight: 200;
  text-align: justify;
  font-size: 14px;
  line-height: 14px !important;
  overflow: hidden !important;
  position: relative;
}

.blog-item .editor-js-blog-item .ce-paragraph {
  padding: 0 !important;
  line-height: 18px !important;
}
.blog-item a {
  display: block;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.25s;
  color: #ff0513;
}
.blog-item a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 960px) {
  .blog-item {
    width: 40vw;
    margin: 0 1rem 4rem 1rem;
  }
  .blog-item img {
    width: 40vw;
    height: 40vw;
  }
}
@media screen and (max-width: 700px) {
  .blog-item {
    width: 100vw;
  }
  .blog-item img {
    width: 90vw;
    height: 90vw;
  }
}
