.blogs-container {
  width: 100%;
  height: auto;
  margin: 4rem auto;
}

.blogs-container .items-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  height: auto;
  min-height: 800px;
  width: 100%;
}
