.blog-item {
  width: auto;
  height: auto;
  margin: 1rem 1rem 4rem 1rem;
  display: flex;
  align-items: center;
}
.blog-item img {
  width: 25vw;
  min-width: 20rem;
  height: 25vw;
  min-height: 20rem;
  object-fit: cover;
  cursor: pointer;
}
.blog-item .text-container {
  margin: 0 2rem;
  width: 30rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.blog-item .text-container a:nth-child(1) {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 1rem;
  transition: 0.25s;
}
.blog-item .text-container a:nth-child(1):hover {
  color: #ff0513;
  text-decoration: underline;
}
.blog-item .text-container p:nth-child(4) {
  font-style: italic;
  font-weight: 200;
  letter-spacing: 1px;
  color: #303030;
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
.blog-item .text-container p:nth-child(4) svg {
  margin-right: 0.5rem;
}
.codex-editor--narrow .codex-editor__redactor {
  margin-right: 0px !important;
}
.codex-editor__redactor {
  padding-bottom: 0 !important;
}
.blog-item .editor-js-blog-item {
  height: auto;
  max-height: 144px;
  font-weight: 200;
  text-align: justify;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 14px !important;
  overflow: hidden !important;
  position: relative;
}

.blog-item .editor-js-blog-item .ce-paragraph {
  padding: 0 !important;
  line-height: 18px !important;
}
.blog-item .text-container span:nth-child(3) {
  font-weight: 300;
}
.blog-item .text-container a:nth-child(5) {
  display: block;
  cursor: pointer;
  transition: 0.25s;
  color: #ff0513;
  text-decoration: none;
}
.blog-item .text-container a:nth-child(5):hover {
  text-decoration: underline;
}
@media screen and (max-width: 1050px) {
  .blog-item {
    margin: 0 auto 4rem auto;
  }
  .blog-item .text-container a:nth-child(1) {
    font-size: 1.75em;
  }
}
@media screen and (max-width: 960px) {
  .blog-item {
    width: auto;
  }
  .blog-item .text-container {
    width: 20rem;
    margin: 0 2rem;
  }
  .blog-item .text-container a:nth-child(1) {
    margin: 1rem 0;
  }
}
@media screen and (max-width: 768px) {
  .blog-item {
    width: 30rem;
    flex-direction: column;
  }
  .blog-item img {
    width: 30rem;
    height: 30rem;
  }
  .blog-item .text-container {
    width: 30rem;
    margin: 0 0rem;
  }
}
@media screen and (max-width: 500px) {
  .blog-item {
    width: 20rem;
    flex-direction: column;
  }
  .blog-item img {
    width: 20rem;
    height: 20rem;
    min-width: 0;
    min-height: 0;
  }
  .blog-item .text-container {
    margin: 0 0rem;
    width: 20rem;
  }
  .blog-item .text-container a:nth-child(1) {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 350px) {
  .blog-item {
    width: 95vw;
    flex-direction: column;
  }
  .blog-item img {
    width: 95vw;
    height: 95vw;
  }
  .blog-item .text-container {
    margin: 0 0rem;
    width: 90%;
  }
}
