/* .carousel {
  margin: 5rem auto;
  height: 500px !important;
  width: 50rem !important;
  max-width: 80vw !important;
}
.carousel .carousel-item {
  height: 100% !important;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel .carousel-item img {
  height: auto !important;
  width: 100% !important;
  object-fit: cover !important;
}

.carousel.modal_item .carousel-item img {
  height: 100% !important;
  width: auto !important;
  object-fit: contain !important;
} */

/* .carousel.modal_item {
  height: 800px !important;
}
.carousel.modal_item .carousel-item {
  height: 800px !important;
  width: 800px !important;
} */
/*
.carousel.modal_item .carousel-item {
  height: 100vh !important;
  width: 65vw !important;
  max-width: none !important;
} */
/* .swiper-wrapper {
  scroll-snap-type: x proximity !important;
  width: auto;
  overflow-x: scroll !important;
}
.swiper-slide {
  scroll-snap-align: start !important;
} */
.carousel {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.carousel-container {
  height: 100%;
  width: 100%;
  transition: 0.25s;
  transform: translateX(0);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.25s;
}
/* .carousel-container.active {
  cursor: grabbing;
} */
/* .slide-container {
  height: 100vh;
  
} */
.slide {
  pointer-events: none;
}
.button-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3rem;
  width: 3rem;
}
.button-slide.next {
  right: 0;
}
.button-slide.prev {
  left: 0;
}
.indicator-item.active {
  background-color: #ff0512 !important;
}
.indicator-item {
  background-color: #ff05127e !important;
}
@media screen and (max-width: 960px) {
  .carousel {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .slide {
    width: 100%;
    height: auto;
    object-fit: contain;
    scroll-snap-align: start;
  }
  .button-slide {
    display: none;
  }
}
