.carousel {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-container {
  height: 100%;
  width: 100%;
  transition: 0.25s;
  transform: translateX(0);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.25s;
}
.slide {
  pointer-events: none;
}
.slide img {
  image-rendering: -webkit-optimize-contrast;
}
.button-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  width: 4rem;
  background-color: #ff051242;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
  cursor: pointer;
}
.button-slide:hover {
  background-color: #ff051270;
}
.button-slide svg {
  color: #fff;
}
.button-slide.next {
  right: 0;
}
.button-slide.prev {
  left: 0;
}
.indicator-item.active {
  background-color: #ff0512 !important;
}
.indicator-item {
  background-color: #ff05127e !important;
}
@media screen and (max-width: 960px) {
  .carousel {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .slide {
    width: 100%;
    height: auto;
    object-fit: contain;
    scroll-snap-align: start;
  }
  .button-slide {
    display: none;
  }
}

/* PRESS CAROUSEL */
.carousel.press-carousel {
  height: 30rem;
  width: 40rem;
  overflow: hidden;
  margin: 3rem auto;
}
.carousel.press-carousel .carousel-container {
  height: 100%;
}
.carousel.press-carousel .carousel-container .slide {
  height: 100%;
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.carousel.press-carousel .carousel-container .slide img {
  height: 100%;
  width: auto;
  object-fit: contain;
  margin: auto;
}
.carousel.press-carousel .button-slide {
  background-color: rgba(211, 211, 211, 0.226);
}
@media screen and (max-width: 960px) {
  .carousel.press-carousel {
    height: 20rem;
    width: 90vw;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .carousel.press-carousel .slide {
    width: 100%;
    height: auto;
    object-fit: contain;
    scroll-snap-align: start;
  }
}
