.category {
  height: auto;
  padding: 0;
  font-family: "Josefin sans", sans-serif;
  position: relative;
  overflow: hidden;
  display: flex;
}
.category .page-content {
  /*   padding: 3rem;
 */
  width: auto;
  flex: auto;
}
.category .text-container {
  text-align: left;
}
.category .text-container h1 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 1.5rem;
  position: relative;
  white-space: nowrap;
  font-family: "Nothing You Could Do", cursive;
}
@media screen and (max-width: 1050px) {
  .category {
    flex-direction: column;
  }
}
@media screen and (max-width: 960px) {
  .category .text-container h1::after {
    bottom: -4.5rem;
    left: 0;
  }
  /*   .category {
    padding: 3rem 1rem 0rem 1rem;
  }
  .category .page-content {
    padding: 1rem;
  } */
}
