.category {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  padding: 10rem 4rem;
  font-family: "Poppins", sans-serif;
}
.category .text-container {
  text-align: left;
}
.category .text-container h1 {
  font-weight: 400;
  margin-bottom: 1.5rem;
  position: relative;
  white-space: nowrap;
}
.category .text-container h1::after {
  content: "";
  height: 1px;
  width: 15rem;
  background-color: #ff0513;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20rem;
  margin: auto;
}
.category .text-container ul {
  display: flex;
}
.category .text-container ul li {
  list-style-type: none;
  margin-right: 1rem;
  font-weight: 200;
}
@media screen and (max-width: 960px) {
  .category .text-container h1::after {
    bottom: -4.5rem;
    left: 0;
  }
  .category {
    padding: 10rem 1rem;
  }
}
