.contact {
  display: flex;
  color: #303030;
}
.contact .contact-content {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .text-container h1 {
  font-size: 60px;
  font-family: "Zen Loop", cursive;
  font-weight: 600;
  text-align: center;
}
.contact .text-container p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  letter-spacing: 1px;
  text-align: center;
}
.contact .text-container p:nth-child(2) {
  margin: 1rem;
  margin-bottom: 2rem;
}
.contact .text-container p svg {
  margin-right: 1rem;
}
@media screen and (max-width: 1050px) {
  .contact .contact-content {
    height: 100vh;
    width: 100vw;
  }
}
