.contact {
  display: flex;
  color: #303030;
}
.contact .contact-content {
  flex: auto;
  display: flex;
  flex-direction: column;
}
.contact .text-container {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact .text-container h1 {
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-align: left;
  margin-bottom: 1.5rem;
}
.contact .text-container p {
  font-family: "Josefin sans", sans-serif;
  font-size: 18px;
  font-weight: 200;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 40px;
  width: 25rem;
}

.contact .text-container p svg {
  margin-right: 1rem;
}
@media screen and (max-width: 1050px) {
  .contact .contact-content {
    height: 100vh;
    width: 100vw;
  }
  .contact .text-container p {
    justify-content: center;
    width: fit-content;
  }
}
