.filter-container {
  max-width: 100vw;
  margin-top: 2rem;
  overflow: scroll;
  font-family: "Josefin sans", sans-serif;
  padding: 0 2rem;
}
.filter-container ul {
  display: flex;
  flex-wrap: wrap;
}
.filter-container ul li {
  list-style-type: none;
  text-transform: capitalize;
  margin-right: 0.5rem;
}
.filter-container ul li a {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  display: block;
  cursor: pointer;
  padding: 0.5rem;
  white-space: nowrap;
  transition: 0.25s;
  color: #7c7c7c;
  border-radius: 5px;
}
.filter-container ul li a:hover {
  color: #ff0513;
}
.filter-container ul li a.active {
  color: #ff0513;
}
.filter-container .filter-container-list {
  display: flex;
}
.filter-container .filter-container-list .filters-button {
  height: fit-content;
  width: auto;
  font: 400 14px "Josefin sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
  text-decoration: none;
  background-color: rgba(211, 211, 211, 0.2);
  padding: 0.5rem;
  border-radius: 5px;
  color: #7c7c7c;
  border: none;
}
.filter-container .filter-container-list .filters-button.active,
.filter-container .filter-container-list .filters-button:hover {
  color: #ff0513;
}
.filter-container .filter-container-list ul {
  flex-wrap: nowrap;
  width: fit-content;
}
.filter-container .filter-container-absolute {
  height: 100vh;
  width: 20rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
  padding: 4rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.25s;
}
.filter-container .filter-container-absolute .close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.filter-container .filter-container-absolute li {
  margin: 0 1rem 1rem 0;
}
.filter-container .filter-container-absolute.open {
  transform: translateX(0);
}
.filter-container .filter-container-absolute,
.filter-container .filter-container-absolute.close {
  transform: translateX(-20rem);
}
.filter-container .filter-container-absolute h2 {
  font-weight: 400;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1050px) {
  .filter-container {
    margin: 5rem auto 2rem auto;
  }
  .filter-container .filter-container-list ul {
    max-width: 100%;
    overflow: scroll;
    margin: auto;
  }

  .filter-container .filter-container-list {
    flex-direction: column;
    overflow: scroll;
  }
  .filter-container .filter-container-list .filters-button {
    visibility: visible !important;
    margin: 2rem auto 1rem auto;
    width: 30rem;
    max-width: 100%;
  }
  .filter-container .filter-container-absolute {
    height: 100vh;
    width: 100vw;
    z-index: 1000000;
  }
  .filter-container .filter-container-absolute,
  .filter-container .filter-container-absolute.close {
    transform: translateX(-100vw);
  }
}
