.filter-container {
  font-family: "Poppins", sans-serif;
}

.filter-container ul {
  display: flex;
  flex-wrap: wrap;
}
.filter-container ul li {
  list-style-type: none;
  margin-right: 1rem;
  font-weight: 200;
  text-transform: capitalize;
}
.filter-container ul li a {
  display: block;

  cursor: pointer;
  padding: 0.5rem;
  white-space: nowrap;
}
.filter-container ul li a:hover {
  font-weight: 300;
}
.filter-container ul li a.active {
  background-color: #ed3833;
  color: #fff;
  padding: 0.5rem;
}
.filter-container .filter-container-list {
  display: flex;
}
.filter-container .filter-container-list .filters-button {
  height: 2.5rem;
  width: 5rem;
  font: 400 14px "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid lightgrey;
}
.filter-container .filter-container-list .filters-button.active,
.filter-container .filter-container-list .filters-button:hover {
  background-color: rgba(168, 168, 168, 0.459);
  color: #fff;
}
.filter-container .filter-container-list ul {
  flex-wrap: nowrap;
  width: fit-content;
}
.filter-container .filter-container-absolute {
  height: 100vh;
  width: 20rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
  padding: 4rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.25s;
}
.filter-container .filter-container-absolute .close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.filter-container .filter-container-absolute.open {
  transform: translateX(0);
}
.filter-container .filter-container-absolute,
.filter-container .filter-container-absolute.close {
  transform: translateX(-20rem);
}
.filter-container .filter-container-absolute h2 {
  font-weight: 400;
  margin-bottom: 2rem;
}

@media screen and (max-width: 960px) {
  .filter-container .filter-container-list {
    flex-direction: column;
  }
  .filter-container .filter-container-list .filters-button {
    margin: 1rem 0;
  }
}
