.form-user {
  height: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.form-user h2 {
  margin: 0;
  margin-bottom: 2rem;
  font-weight: 400;
  color: #303030;
  letter-spacing: 3px;
}
.form-user input {
  margin: 0;
  margin-bottom: 2rem;
}
.form-user button {
  width: 20rem;
  height: 3rem;
  background-color: #ff0513;
  border: none;
  font: 400 18px "Josefin sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
  color: #fff;
}
.form-user button:hover {
  background-color: #cf000a;
}
.form-user p {
  font-weight: 200;
  text-decoration: underline;
  color: blue;
  margin: 2rem auto;
  cursor: pointer;
  font-family: "Josefin sans", sans-serif;
}
.form-user p:hover {
  color: rgb(0, 0, 114);
}

@media screen and (max-width: 400px) {
  /* .form-user {
    margin: 1rem;
    max-width: 100vw;
  } */
  .form-user input {
    width: 95%;
  }

  .form-user button {
    width: 95%;
  }
}
