.form {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  background-color: #040312;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border-top: 1px solid rgba(85, 85, 85, 0.034);
  position: relative;
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 9rem 3rem 0 3rem;
}
.form::before {
  content: "";
  height: 7.5rem;
  width: 1px;
  background-color: #ff0513;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.form h1 {
  font-size: 35px;
  font-weight: 600;
  margin: 3rem 0;
  color: #ffff;
  position: relative;
}
.form p {
  max-width: 40rem;
  line-height: 2rem;
  font-size: 14px;
  color: #ffff;
  position: relative;
  font-weight: 200;
}
@media screen and (max-width: 960px) {
  .form {
    height: auto;
  }
}
