.form-contenu {
  height: auto;
  width: fit-content;
  max-width: 50rem;
  margin: auto;
  font-family: "Poppins", sans-serif;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-contenu h2,
.page-add-contenu h2 {
  font-size: 1.5em !important;
  margin: 2rem;
  font-weight: 400;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.form-contenu form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.form-contenu .form-group {
  width: 20rem;
  text-align: left;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 2rem;
}
.form-contenu label {
  width: 20rem;
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline;
}
input,
select,
textarea {
  border: 1px solid rgba(199, 199, 199, 0.363);
  width: 20rem;
  height: 3rem;
  margin: auto;
  margin-bottom: 1.5rem;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem;
  outline: none;
  box-sizing: border-box !important;
}
textarea {
  height: 10rem;
}
.form-contenu input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  margin: 0.5rem auto;
  cursor: pointer;
}
.form-contenu .text-editor {
  min-height: 20rem;
  width: 30rem;
  font-size: 14px;
  color: #000;
}
.form-contenu button {
  height: 3rem;
  width: 20rem;
  background-color: #ff0513;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.25s;
  font: 400 20px "Poppins";
}
.form-contenu button:hover {
  background-color: #d6000b;
}
.category-input-container {
  display: flex;
}
.category-input-container input {
  width: 17rem;
}
.category-input-container button {
  width: 3rem;
  height: 3rem;
  background-color: #ff0513;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.25s;
}
.category-input-container button:hover {
  background-color: #d6000b;
}
.categories-container {
  height: auto;
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 20rem;
}
.categories-container span {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  background-color: #f8c146;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
  transition: 0.25s;
}
.categories-container span:hover {
  background-color: #e0a627;
}
.upload-zone-container {
  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 4rem;
}
.upload-zone-container h2 {
  width: 100%;
}
.upload-zone-container div {
  width: 15rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: rgba(211, 211, 211, 0.493);
  overflow-y: scroll;
}
.upload-zone-container svg {
  color: rgba(211, 211, 211, 0.349);
}
.upload-zone-container .upload-zone {
  position: relative;
  overflow: hidden;
  padding: 2rem;
}
.upload-zone-container .upload-zone input {
  width: 100%;
  position: absolute;
  top: -5rem;
}
.upload-zone-container .upload-zone label {
  width: 15rem;
  height: 20rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.11);
}
.upload-zone-container .upload-zone label.active {
  background-color: rgba(117, 117, 117, 0.11);
}
.upload-zone-container .apercu-zone img,
.upload-zone-container .apercu-zone video {
  width: 15rem;
  height: 20rem;
  object-fit: contain;
}
.upload-zone-container .apercu-zone.many-images {
  flex-direction: row;
}
.upload-zone-container .apercu-zone.many-images img,
.upload-zone-container .apercu-zone.many-images video {
  width: auto;
  height: 4rem;
  object-fit: contain;
  margin-right: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .upload-zone-container {
    justify-content: center;
  }
  .upload-zone-container div {
    flex-wrap: nowrap;
    margin-bottom: 4rem;
  }
}
