.details {
  height: auto;
  width: fit-content;
  font-family: "Josefin sans", sans-serif;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: #303030;
}

.details h2 {
  font-size: 1.5em !important;
  margin-bottom: 2rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 3px;
  width: 100%;
}
.details button {
  height: 3rem;
  width: 20rem;
  background-color: #ff0513;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.25s;
  font: 400 20px "Josefin sans";
  margin: 3rem auto;
}
.form-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.form-details .form-group {
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.form-details label {
  width: 20rem;
  max-width: 100%;
  margin-bottom: 0.5rem;
  font-family: "Josefin sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline;
}

.form-details input,
.form-details select,
.form-details textarea {
  border: 1px solid rgba(199, 199, 199, 0.363);
  width: 20rem;
  max-width: 100%;
  height: 3rem;
  margin-bottom: 1.5rem;
  font-family: "Josefin sans", sans-serif;
  padding: 0.5rem;
  outline: none;
  box-sizing: border-box;
}
.form-details textarea {
  height: 10rem;
}

.form-details button:hover {
  background-color: #d6000b;
}

.form-details-button {
  margin-top: 5rem !important;
  text-transform: uppercase;
  height: 5rem !important;
}

.text-editor {
  height: fit-content;
  min-height: 10rem;
  width: 50rem;
  max-width: 95vw;
  box-shadow: rgba(112, 112, 112, 0.1) 0px 3px 8px;
  padding: 2rem;
  font-weight: 300;
  text-align: left;
  margin: auto;
}
@media screen and (max-width: 1050px) {
  .form-details {
    flex-direction: column;
  }
  .form-details .form-group {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .details h2 {
    margin: 1rem 0;
    max-width: 100vw;
  }

  .form-details .form-group {
    width: 95vw;
  }
  .upload-zone-container {
    margin: 0;
  }
  .details button {
    width: 90%;
  }
}
