.details {
  height: auto;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.details h2 {
  font-size: 1.5em !important;
  margin: 2rem;
  font-weight: 400;
  text-align: center;
}
.details button {
  height: 3rem;
  width: 20rem;
  background-color: #ff0513;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.25s;
  font: 400 20px "Poppins";
  margin: 3rem auto;
}
.form-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-details .form-group {
  width: 20rem;
  text-align: left;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 2rem;
}
.form-details label {
  width: 20rem;
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline;
}

.form-details input,
.form-details select,
.form-details textarea {
  border: 1px solid rgba(199, 199, 199, 0.363);
  width: 20rem;
  height: 3rem;
  margin-bottom: 1.5rem;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem;
  outline: none;
  box-sizing: border-box;
}
.form-details textarea {
  height: 10rem;
}

.form-details button:hover {
  background-color: #d6000b;
}

.details {
  height: auto;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-editor {
  height: fit-content;
  min-height: 10rem;
  width: 50rem;
  max-width: 80vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
  font-weight: 300;
  text-align: left;
  margin: auto;
}
