.form-contenu {
  height: auto;
  max-width: 50rem;
  margin: auto;
  font-family: "Poppins", sans-serif;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #303030;
}
.form-contenu h2,
.page-add-contenu h2 {
  font-size: 1.5em !important;
  letter-spacing: 3px;
  margin: 2rem 0;
  font-weight: 400;
  text-align: center;
  font-family: "Poppins", sans-serif;
  width: 100%;
  max-width: 100vw;
}
.form-contenu form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.form-contenu .form-group {
  width: 50%;
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 2rem;
}
.form-contenu label {
  width: 20rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline;
  margin: auto;
  margin-bottom: 0.5rem;
}
.form-contenu span {
  width: 20rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0 auto;
}
input,
select,
textarea {
  border: 1px solid rgba(199, 199, 199, 0.363);
  width: 20rem;
  height: 3rem;
  margin: auto;
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem;
  outline: none;
  box-sizing: border-box !important;
  color: #303030;
}
textarea {
  height: 10rem;
}
.form-contenu input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  margin: 0.5rem auto;
  cursor: pointer;
}
.form-contenu .text-editor {
  min-height: 20rem;
  width: 40rem;
  max-width: 95vw;
  font-size: 14px;
  color: #303030;
}
.form-contenu button {
  height: 3rem;
  width: 20rem;
  background-color: #ff0513;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.25s;
  font: 400 20px "Poppins";
}
.form-contenu button:hover {
  background-color: #d6000b;
}
.validation-contenu {
  margin: 5rem 0 2rem 0;
  text-transform: uppercase;
  height: 5rem !important;
}
.form-category {
  flex-direction: column;
}
.category-input-container {
  display: flex;
}
.category-input-container input {
  width: 17rem;
}
.category-input-container button {
  width: 3rem;
  height: 3rem;
  background-color: #ff0513;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.25s;
}
.category-input-container button:hover {
  background-color: #d6000b;
}
.categories-container {
  height: auto;
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 20rem;
  max-width: 95vw;
  margin-top: 1rem;
}
.categories-container span {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  background-color: #f8c146;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
  transition: 0.25s;
}
.categories-container span:hover {
  background-color: #e0a627;
}
.upload-zone-container {
  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem auto 4rem auto;
}
.upload-zone-container h2 {
  width: 100%;
}
.upload-zone-container div {
  width: 15rem;
  height: 20rem;
  color: rgba(211, 211, 211, 0.493);
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upload-zone-container svg {
  height: 100%;
  width: 100%;
  fill: #97979736;
}
.upload-zone-container .upload-zone {
  position: relative;
  overflow: hidden;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upload-zone-container .upload-zone p {
  text-align: center;
  color: #97979736;
}
.upload-zone-container .upload-zone input {
  width: 100%;
  position: absolute;
  top: -5rem;
}
.upload-zone-container .upload-zone label {
  width: 15rem;
  height: 20rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.11);
  text-align: center;
}
.upload-zone-container .upload-zone label.active {
  background-color: rgba(117, 117, 117, 0.11);
}
.upload-zone-container .apercu-zone {
  padding: 0.5rem;
  display: block;
}
.upload-zone-container .apercu-zone svg {
  fill: #97979736;
}
.upload-zone-container .apercu-zone img,
.upload-zone-container .apercu-zone video {
  width: 15rem;
  max-width: 100%;
  height: 20rem;
  object-fit: contain;
  border-radius: 5px;
}
.upload-zone-container .apercu-zone.many-images img,
.upload-zone-container .apercu-zone.many-images video {
  width: auto;
  height: 4rem;
  object-fit: contain;
  margin-right: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .form-contenu form {
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }
  .form-contenu .form-group {
    width: 95%;
  }
  .category-input-container {
    width: 95%;
    justify-content: center;
  }
  .category-input-container input {
    margin: 0;
  }
  .upload-zone-container {
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
  .upload-zone-container div {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 400px) {
  .form-contenu h2 {
    margin-bottom: 2rem;
    max-width: 95vw;
  }

  .form-contenu .form-group {
    margin: 0 0 2rem 0;
  }

  .upload-zone-container {
    margin: 0;
  }

  .form-contenu button {
    width: 95%;
  }
  select {
    width: 15rem;
  }

  .form-contenu label,
  .form-contenu .form-group input,
  .form-contenu .form-group textarea {
    width: 100%;
  }
  .category-input-container input {
    width: 13rem;
  }
  .category-input-container button {
    width: 3rem;
  }
}
