body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif !important;
  color: #303030;
}

p {
  font-family: "Josefin sans", sans-serif;
  font-size: 20px !important;
  font-weight: 200 !important;
  color: #303030 !important;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
}
button[disabled] {
  background-color: rgb(168, 168, 168) !important;
  color: #fff !important;
  cursor: auto !important;
}
img {
  image-rendering: -webkit-optimize-contrast !important;
}

select {
  display: block !important;
}

.danger {
  color: red;
}
