body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  display: none;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
}
button[disabled] {
  background-color: rgb(168, 168, 168) !important;
  color: #fff !important;
  cursor: auto !important;
}
img {
  image-rendering: -webkit-optimize-contrast !important;
}

select {
  display: block !important;
}
