.item {
  width: 25%;
  aspect-ratio: 1 / 1;
  margin: 2rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.item img,
.item video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.video-button {
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.video-button svg {
  color: #ff051270;
}

@media screen and (max-width: 960px) {
  .item {
    margin: 0;
    margin-bottom: 2rem;
    width: 40%;
  }
}
@media screen and (max-width: 700px) {
  .item {
    width: 100%;
  }
}
