.item {
  width: 25%;
  aspect-ratio: 1 / 1;
  margin: 2rem;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}
.item-hover {
  transform: translateX(-100%);
  height: 25vw;
  width: 25vw;
  background-color: #ff051285;
  transition: 0.35s ease-out;
  padding: 2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  color: #fff;
}
.item:hover .item-hover {
  transform: translateX(0);
}
.item-hover h2 {
  font-weight: 500;
  position: relative;
}
.item-hover h2::before {
  content: "";
  height: 1px;
  width: 2rem;
  background-color: #ffff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2.5rem;
  margin: auto;
}
.item-hover p {
  font-weight: 200;
}
@media screen and (max-width: 960px) {
  .item {
    width: 40%;
  }
}
@media screen and (max-width: 650px) {
  .item {
    width: 100%;
  }
}
