.item {
  width: 20rem;
  height: 20rem;
  margin: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.item img,
.item video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.video-button {
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.video-button svg {
  color: rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 1050px) {
  .item {
    width: 30rem;
    height: 30rem;
  }
}
@media screen and (max-width: 768px) {
  .item {
    width: 30rem;
    height: 30rem;
  }
}
@media screen and (max-width: 450px) {
  .item {
    width: 20rem;
    height: 20rem;
  }
}
@media screen and (max-width: 350px) {
  .item {
    width: 275px;
    height: 275px;
  }
}
