.nav .logo {
  text-decoration: none;
  color: #303030;
  cursor: default;
}

.nav .logo h1 {
  text-transform: uppercase;
  font-size: 20px !important;
  font-weight: 200;
  margin-bottom: 2rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: left;
  width: fit-content;
  margin-right: auto;
  letter-spacing: 2px;
}
.nav .logo h1 span {
  font-weight: 600;
}
@media screen and (max-width: 1050px) {
  .nav .logo h1 {
    text-align: center;
    margin-right: 0;
    margin: auto;
    margin-bottom: 2rem;
  }
}
