.nav .logo {
  display: block;
  text-decoration: none;
  color: #303030;
  cursor: pointer;
}

.nav .logo h1 {
  font-size: 30px !important;
  font-weight: 600;
  margin-bottom: 2rem;
  font-family: "Nothing You Could Do", cursive;
  text-align: left;
  letter-spacing: 5px;
}

@media screen and (max-width: 1050px) {
  .nav .logo h1 {
    text-align: center;
  }
}
