.modal-contenu {
  display: none;
}
.modal-contenu.open,
.modal-contenu.close {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(212, 212, 212, 0.432);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: auto;
  pointer-events: all;
}
.modal-contenu .modal {
  opacity: inherit;
  height: 800px;
  max-height: 90vh;
  width: fit-content;
  max-width: 80rem;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  display: flex;
  align-items: flex-start;
  cursor: auto;
  pointer-events: all;
  overflow-y: scroll;
  padding: 2rem 2rem 5rem 2rem;
}
.modal-contenu .close-icon {
  position: sticky;
  top: 0;
  right: 0;
  transition: 0.25s;
  cursor: pointer;
}
.modal-contenu .close-icon:hover,
.modal-contenu .info-icon:hover {
  transform: scale(1.1);
}
/* Animation OPEN*/
.modal-contenu.open {
  animation: displayBackgroundModal 0.75s forwards;
}
.modal-contenu.open .modal {
  animation-delay: 0.25s;
  animation: displayModal 0.75s forwards;
}
@keyframes displayModal {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes displayBackgroundModal {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animation CLOSE */
.modal-contenu.close {
  animation: hideBackgroundModal 0.75s forwards;
  animation-delay: 0.25s;
}
.modal-contenu.close .modal {
  animation: hideModal 0.75s forwards;
}
@keyframes hideModal {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes hideBackgroundModal {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

/* Responsive */

@media screen and (max-width: 1050px) {
  .modal-contenu .close-icon {
    top: 1.5rem;
    right: 1.5rem;
  }
  .modal-contenu .modal {
    width: auto;
    max-width: 30rem;
    height: auto;
    max-height: 90vh;
    flex-direction: column;
    overflow-y: scroll;
    padding: 4rem 0;
  }
}
