.modal-item {
  display: none;
}
.modal-item.open,
.modal-item.close {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  /*   background-color: rgba(212, 212, 212, 0.432);
 */
  background-color: #040312;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
  cursor: auto;
  pointer-events: all;
}
.modal-item .modal {
  opacity: inherit;
  height: 100vh;
  width: 100vw;
  background-color: #040312;
  color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: auto;
  pointer-events: all;
  max-height: none !important;
}
.modal-item .info-icon {
  display: none;
  position: absolute;
  top: 2rem;
  left: 2rem;
  cursor: pointer;
}
.modal-item .close-icon {
  color: #000;
  position: absolute;
  top: 2rem;
  right: 2rem;
  transition: 0.25s;
  cursor: pointer;
}
.modal-item .close-icon:hover,
.modal-item .info-icon:hover {
  transform: scale(1.1);
}
.modal-item .modal .photo-container {
  width: 65vw;
  margin: auto;
  height: 100vh;
  background-color: #040312;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-item .modal .photo-container img {
  width: 65vw;
  height: 100vh;
  margin: auto;
  object-fit: contain;
}
.modal-item .modal .text-container-modal {
  width: 35rem;
  height: 100vh;
  border-left: 1px solid rgba(85, 85, 85, 0.13);
  text-align: left;
  padding: 5rem 2rem 2rem 2rem;
  background-color: #fff;
  color: #000;
}
.modal-item .modal .text-container-modal h2 {
  font-weight: 400;
  margin: 1rem 0;
}
.modal-item .modal .text-container-modal p {
  font-weight: 200;
  font-size: 14px;
}
.modal-item .modal .text-container-modal p:nth-child(2) {
  margin-bottom: 3rem;
}
.modal-item .modal .text-container-modal p:nth-child(3),
.modal-item .modal .text-container-modal p:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.modal-item .modal .text-container-modal p:nth-child(3) svg,
.modal-item .modal .text-container-modal p:nth-child(4) svg {
  margin-right: 1rem;
}

/* Animation OPEN*/
.modal-item.open {
  animation: displayBackgroundModal 0.75s forwards;
}
.modal-item.open .modal {
  animation-delay: 0.25s;
  animation: displayModal 0.75s forwards;
}
@keyframes displayModal {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes displayBackgroundModal {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animation CLOSE */
.modal-item.close {
  animation: hideBackgroundModal 0.75s forwards;
  animation-delay: 0.25s;
}
.modal-item.close .modal {
  animation: hideModal 0.75s forwards;
}
@keyframes hideModal {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes hideBackgroundModal {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

/* Responsive */

@media screen and (max-width: 1050px) {
  .modal-item .info-icon {
    z-index: 3000;
    display: block;
  }
  .modal-item .close-icon {
    z-index: 3000;
  }
  .modal-item .modal {
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
  }
  .modal-item .modal svg {
    color: #fff;
  }
  .modal-item .modal .photo-container {
    width: 100vw;
    height: 100vh;
    background-color: #040312;
  }
  .modal-item .modal .photo-container img {
    width: 100vw;
    height: auto;
    object-fit: contain;
  }
  .modal-item .modal .text-container-modal {
    position: absolute;
    bottom: 2rem;
    right: 0;
    left: 0;
    width: 80%;
    margin: auto;
    height: auto;
    color: #fff;
    padding: 0 1rem;
    border-left: none;
    background-color: transparent;
  }
  .modal-item .modal .text-container-modal.open {
    animation: showDiv 0.75s forwards;
  }
  .modal-item .modal .text-container-modal.close {
    animation: hideDiv 0.75s forwards;
  }
  @keyframes showDiv {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes hideDiv {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(150%);
    }
  }
  .modal-item .modal .text-container-modal p:nth-child(2) {
    height: 10rem;
    overflow: scroll;
  }
}
