.modal.photo {
  display: none;
}
.modal.photo.open,
.modal.photo.close {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #040312;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
  cursor: auto;
  pointer-events: all;
}
.modal.photo .modal-body {
  opacity: inherit;
  height: 100vh;
  width: 100vw;
  background-color: #040312;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: auto;
  pointer-events: all;
  max-height: none !important;
}
.modal.photo .close-icon {
  color: #fff;
  position: absolute;
  top: 2rem;
  right: 2rem;
  transition: 0.25s;
  cursor: pointer;
  z-index: 100;
  pointer-events: all;
}
.modal.photo .close-icon:hover {
  transform: scale(1.1);
}
.modal.photo .modal-body .photo-container {
  width: 100vw;
  margin: auto;
  height: 100vh;
  background-color: #040312;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.photo .modal-body .photo-container img {
  width: 100vw;
  height: 100vh;
  margin: auto;
  object-fit: contain;
}
.modal.photo .modal-body .text-container {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  width: 100vw;
  margin: auto;
  height: auto;
  color: #000;
  padding: 1rem 3rem;
  border-left: none;
  background-color: #fff;
}
.modal .modal-body .text-container.open {
  animation: showDiv 0.75s forwards;
}
.modal .modal-body .text-container.close {
  animation: hideDiv 0.75s forwards;
}
@keyframes showDiv {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes hideDiv {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(150%);
  }
}
.modal .modal-body .text-container h2 {
  font-weight: 400;
  margin: 1rem 0;
}

.modal .modal-body .text-container p {
  font-weight: 200;
  font-size: 14px;
}
.modal .modal-body .text-container p:nth-child(2) {
  height: fit-content;
  max-height: 10rem;
  overflow: scroll;
  margin: 1.5rem 0;
}
.modal .modal-body .text-container p:nth-child(3),
.modal .modal-body .text-container p:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.modal .modal-body .text-container p:nth-child(3) svg,
.modal .modal-body .text-container p:nth-child(4) svg {
  margin-right: 1rem;
}

.modal .info-icon {
  z-index: 3000;
  display: block;
}
.modal .close-icon {
  z-index: 3000;
}
.modal .modal-body {
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
}
.modal .modal-body svg {
  color: #fff;
}
.modal .modal-body .text-container svg {
  color: #000;
}

/* Animation OPEN*/
.modal.photo.open {
  animation: displayBackgroundModal 0.75s forwards;
}
.modal.photo.open .modal-body {
  animation-delay: 0.25s;
  animation: displayModal 0.75s forwards;
}
@keyframes displayModal {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes displayBackgroundModal {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animation CLOSE */
.modal.photo.close {
  animation: hideBackgroundModal 0s forwards;
  animation-delay: 0s;
}
.modal.photo.close .modal-body {
  animation: hideModal 0.75s forwards;
}
@keyframes hideModal {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes hideBackgroundModal {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@media screen and (max-width: 1050px) {
  .modal .modal-body .text-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin: auto;
    height: auto;
    color: #000;
    padding: 1rem 1.5rem;
    border-left: none;
    background-color: #fff;
    border-radius: 0;
    text-align: justify;
  }
}
