.modal-blog {
  display: none;
}
.modal-blog.open,
.modal-blog.close {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(212, 212, 212, 0.432);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: auto;
  pointer-events: all;
}
.modal-blog .modal {
  opacity: inherit;
  height: 80vh;
  width: fit-content;
  max-width: 80vw;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  display: flex;
  cursor: auto;
  pointer-events: all;
  overflow: hidden;
}
.modal-blog .close-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  transition: 0.25s;
  cursor: pointer;
}
.modal-blog .close-icon:hover,
.modal-blog .info-icon:hover {
  transform: scale(1.1);
}
.modal-blog .modal .photo-container {
  padding: 0rem;
  height: 100%;
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.modal-blog .modal .photo-container img {
  aspect-ratio: 0;
  height: auto;
  max-height: 20rem;
  width: 100%;
  object-fit: contain;
  background-color: #040312;
  cursor: auto;
}
.modal-blog .modal .details-infos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-blog .modal .details-infos.text {
  display: none;
}
.modal-blog .modal .details-infos p {
  display: flex;
  align-items: center;
}
.modal-blog .modal .details-infos p:nth-child(1),
.modal-blog .modal .details-infos p:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem auto 0 auto;
}
.modal-blog .modal .details-infos p:nth-child(1) svg,
.modal-blog .modal .details-infos p:nth-child(2) svg {
  margin-right: 1rem;
}
.modal-blog .modal .text-container {
  width: 35rem;
  height: 100%;
  text-align: left;
  padding: 5rem 5rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.modal-blog .modal .text-container h2 {
  font-weight: 400;
  margin: 1rem 0;
  position: relative;
}
.modal-blog .modal .text-container h2::after {
  content: "";
  height: 1px;
  width: 2rem;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -3rem;
  z-index: -1;
}
.modal-blog .modal .text-container p {
  font-weight: 200;
  font-size: 14px;
}
.modal-blog .modal .text-container p:nth-child(3) {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 2rem;
}
.modal-blog .modal .text-container p:nth-child(4) {
  max-height: 30rem;
  overflow-y: scroll;
}
.modal-blog .modal .text-container .editor-js {
  max-width: 100%;
  height: auto;
  max-height: 25rem;
  overflow-y: scroll;
  font-size: 14px;
  font-weight: 200;
  pointer-events: all;
  margin-bottom: 2rem;
}
/* Animation OPEN*/
.modal-blog.open {
  animation: displayBackgroundModal 0.75s forwards;
}
.modal-blog.open .modal {
  animation-delay: 0.25s;
  animation: displayModal 0.75s forwards;
}
@keyframes displayModal {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes displayBackgroundModal {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animation CLOSE */
.modal-blog.close {
  animation: hideBackgroundModal 0.75s forwards;
  animation-delay: 0.25s;
}
.modal-blog.close .modal {
  animation: hideModal 0.75s forwards;
}
@keyframes hideModal {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes hideBackgroundModal {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

/* Responsive */

@media screen and (max-width: 1050px) {
  .modal-blog .modal svg {
    color: #000;
  }
  .modal-blog .modal .close-icon {
    top: 1.5rem;
    right: 1.5rem;
    color: #fff;
  }
  .modal-blog .modal {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0rem 0;
    border-radius: 0;
  }

  .modal-blog .modal .photo-container {
    width: 100%;
    height: 15rem;
    margin: 0;
    padding: 0;
    background-color: #040312;
  }
  .modal-blog .modal .photo-container img {
    width: auto;
    height: 100%;
    object-fit: cover;
    margin: auto;
  }
  .modal-blog .modal .details-infos {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .modal-blog .modal .details-infos.photo {
    display: none;
  }
  .modal-blog .modal .details-infos.text {
    display: flex;
  }
  .modal-blog .modal .details-infos p {
    margin-bottom: 0;
    width: 50%;
  }
  .modal-blog .modal .text-container {
    width: 80%;
    margin: 1rem auto;
    height: auto;
    color: #000;
    padding: 0;
    overflow-y: scroll;
  }
  .modal-blog .modal .text-container h2::after {
    top: 0;
    bottom: 0;
    left: 8rem;
    width: 4rem;
  }
  .modal-blog .modal .text-container p:nth-child(2) {
    margin-bottom: 0;
  }
  .modal-blog .modal .text-container p:nth-child(3) {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 2rem;
    overflow-y: visible;
  }

  .modal-blog .modal .text-container p:nth-child(4) {
    max-height: none;
    overflow-y: visible;
  }
}
@media screen and (max-width: 550px) {
  .modal-blog .modal .photo-container .details-infos {
    flex-direction: column;
  }
}
