.nav {
  width: 15rem;
  min-width: 15rem;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  position: relative;
}
.nav .nav-burger {
  color: #303030;
  background-color: rgba(255, 255, 255, 0.2);
  display: none;
  position: fixed;
  top: 1rem;
  right: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
  z-index: 10;
  padding: 0.25rem;
}
.nav .nav-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15rem;
  min-width: 15rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
}
.nav .nav-content .nav-ul {
}
.nav .nav-content .nav-ul li {
  height: 2.5rem;
  width: 100%;
  list-style-type: none;
}
.nav .nav-content a {
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #303030;
}
.nav .nav-content a:nth-child(3) {
  font-weight: 200;
}
.nav .nav-content a:hover {
  text-transform: uppercase;
  text-decoration: none;
  color: #ff0513;
}

.nav .nav-content a.active {
  text-decoration: underline;
  color: #ff0513;
}
.nav .nav-content .network-container {
  margin-top: 2rem;
}
.nav .nav-content svg {
  color: #303030;
  transition: 0.25s;
}
.nav .nav-content svg:hover {
  color: #ff0513;
}
@media screen and (max-width: 1050px) {
  .nav {
    width: 100%;
    height: 5rem;
    font-family: "Poppins", sans-serif;
    position: absolute;
    pointer-events: none;
  }
  .nav .nav-burger {
    display: block;
    color: #000;
    pointer-events: all;
  }
  .nav .nav-content {
    padding: 1rem 0;
    height: fit-content;
    width: 100vw;
    text-align: center;
    z-index: 1000;
    position: fixed;
    top: auto;
    bottom: 0;
    background-color: #fff;
    pointer-events: all;
  }
  .nav .nav-content .nav-ul li {
  }
  .nav.close .nav-content {
    display: none;
  }
  .nav.open .nav-content {
    display: block;
  }
}
