.nav {
  width: 15rem;
  min-width: 15rem;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  position: relative;
}
.nav .nav-burger {
  background-color: rgba(255, 255, 255, 0.2);
  display: none;
  position: fixed;
  top: 1rem;
  right: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
  z-index: 10;
  padding: 0.25rem;
}
.nav .nav-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15rem;
  min-width: 15rem;
  height: 100vh;
  position: fixed;
  padding: 2rem;
}
.nav .nav-content .nav-ul {
}
.nav .nav-content .nav-ul li {
  height: 2.5rem;
  width: 100%;
  list-style-type: none;
}
.nav .nav-content .nav-ul li a {
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #303030;
}
.nav .nav-content .nav-ul li a:hover {
  text-transform: uppercase;
  text-decoration: none;
  color: #ff0513;
}

.nav .nav-content .nav-ul li a.active {
  text-decoration: underline;
  color: #ff0513;
}
.nav .nav-content .network-container {
  margin-top: 2rem;
}
.nav .nav-content svg {
  color: #303030;
  transition: 0.25s;
}
.nav .nav-content svg:hover {
  color: #ff0513;
}
@media screen and (max-width: 1050px) {
  .nav {
    width: 100%;
    height: 5rem;
    font-family: "Poppins", sans-serif;
    position: absolute;
    pointer-events: none;
  }
  .nav .nav-burger {
    display: block;
    color: #000;
    pointer-events: all;
  }
  .nav .nav-content {
    padding: 1rem 0;
    height: fit-content;
    width: 100vw;
    text-align: center;
    z-index: 10;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    pointer-events: all;
  }
  .nav .nav-content .nav-ul li {
  }
  .nav.close .nav-content {
    display: none;
  }
  .nav.open .nav-content {
    display: block;
  }
}
/* .nav-burger {
  display: none;
  color: #ffff;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.nav-ul {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  width: fit-content;
  height: 5.5rem;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.nav-ul li {
  width: 6.5rem;
  list-style-type: none;
}
.nav-ul li a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  text-decoration: none;
  position: relative;
  z-index: 10;
  font-size: 14px;
  cursor: pointer;
  transition: 0.25s;
}
.nav-ul li a:hover {
  transform: scale(1.05);
}
.nav-ul li a.active {
  width: 6.5rem;
  border-bottom: 1px solid #ff0513;
  color: #fff;
}
.nav-ul li a.active:before {
  content: "";
  display: block;
  width: 6.5rem;
  height: 5rem;
  background-color: #ff0513;
  position: absolute;
  top: 0;
  z-index: -1;
}

@media screen and (max-width: 960px) {
  .nav-burger {
    display: block;
    position: fixed;
    z-index: 1000;
  }
  .nav-ul {
    flex-direction: column;
    height: auto;
    position: fixed;
    top: 5.5rem;
    right: 1rem;
    z-index: 100000;
    transition: 0.25s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .nav.close {
    transform: translateX(20rem);
  }
  .nav.open {
    transform: translateX(0);
  }
  .nav-ul li {
    width: 7.5rem;
    height: 3rem;
  }
  .nav-ul li a {
    font-weight: 300;
    width: 7.5rem;
    height: 3rem;
    border-top: 1px solid rgba(207, 207, 207, 0.521);
    border-left: 1px solid rgba(207, 207, 207, 0.521);
    border-right: 1px solid rgba(207, 207, 207, 0.521);
    background-color: #fff;
    color: black !important;
  }
  .nav-ul li:nth-last-child(1) a {
    border-bottom: 1px solid rgba(207, 207, 207, 0.521);
  }
  .nav-ul li a.active {
    width: 7.5rem;
    border: none;
    color: #fff !important;
  }
  .nav-ul li a.active:before {
    width: 7.5rem;
    height: 3rem;
    box-sizing: border-box !important;
  }
  .nav-ul li a:hover {
    transform: scale(1);
  }
}
 */
