.nav-burger {
  display: none;
  color: #ffff;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.nav {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  width: fit-content;
  height: 5.5rem;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.nav li {
  width: 6.5rem;
  list-style-type: none;
}
.nav li a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  text-decoration: none;
  position: relative;
  z-index: 10;
  font-size: 14px;
  cursor: pointer;
  transition: 0.25s;
}
.nav li a:hover {
  transform: scale(1.05);
}
.nav li a.active {
  width: 6.5rem;
  border-bottom: 1px solid #ff0513;
  color: #fff;
}
.nav li a.active:before {
  content: "";
  display: block;
  width: 6.5rem;
  height: 5rem;
  background-color: #ff0513;
  position: absolute;
  top: 0;
  z-index: -1;
}

@media screen and (max-width: 960px) {
  .nav-burger {
    display: block;
  }
  .nav {
    display: none;
  }
}
