.page-item {
  display: flex;
}

.page-item .page-content {
  flex: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 0;
}
.page-item .page-content .show-infos {
  width: 100%;
  position: relative;
}
.page-item .page-content .show-infos:after {
  content: "";
  height: 1px;
  width: 10rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(48, 48, 48, 0.4);
}
.page-item .page-content .show-infos .show-infos-button {
  width: fit-content;
  margin: auto;
  border: none;
  background-color: transparent;
  padding: 0.5rem;
  cursor: pointer;
  font: 200 14px "Poppins", sans-serif;
  color: #303030;
}
.page-item .page-content .show-infos .show-infos-button svg {
  color: #303030;
  transition: 0.25s;
}
.page-item .page-content .show-infos .show-infos-button.active svg {
  transform: rotate(180deg);
}

/* Text container */
.page-item .text-container {
  margin: 2rem auto 2rem auto;
  width: 40rem;
  max-width: 90vw;
  font-family: "Poppins", sans-serif;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 0px;
  transition: 0.25s;
  overflow: hidden;
}
.page-item .text-container.active {
  height: 30rem;
  max-height: 30rem;
  overflow: scroll;
}
.page-item .text-container h1 {
  font-size: 2em;
  color: #303030;
  font-weight: 400;
  text-transform: capitalize;
}
.page-item .text-container h1 span {
  font-weight: 200;
}
.page-item .text-container p {
  margin: 1rem 0;
  color: #303030;
  font-weight: 200;
  letter-spacing: 1px;
}
/* .page-item .text-container p:nth-child(2) {
  max-height: 30rem;
  overflow: scroll;
} */
.page-item .text-container div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.page-item .text-container div p:nth-child(1),
.page-item .text-container div p:nth-child(2) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  text-transform: capitalize;
  margin: 0.5rem 0;
}
.page-item .text-container div p:nth-child(1) svg,
.page-item .text-container div p:nth-child(2) svg {
  margin: 0;
  margin-right: 1rem;
  color: #303030;
}

/* Photo container */
.page-item .page-content .photo-content {
  min-width: 1rem;
  width: fit-content;
  max-width: 100%;
  height: 40rem;
  margin: 0.5rem 1rem 2rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-item .page-content .photo-content .photo-background {
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-item .page-content .photo-content .photo-background img,
.page-item .page-content .photo-content .photo-background video {
  display: block;
  width: auto;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
  pointer-events: none;
}
.page-item .page-content .photo-content.active {
  pointer-events: none;
  cursor: auto;
}
.page-item .page-content .photo-content.active .photo-background {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: all;
  background-color: rgba(182, 182, 182, 0.281);
}
.page-item .page-content .photo-content.active .photo-background img,
.page-item .page-content .photo-content.active .photo-background video {
  width: auto;
  max-width: 100%;
  height: 80%;
  max-height: 80%;
  object-fit: contain;
  pointer-events: all;
}

@media screen and (max-width: 1050px) {
  .page-item {
    padding: 5rem 0;
  }
  .page-item .page-content {
    padding-top: 0;
  }
  .page-item .page-content .text-container {
    margin-top: 2rem;
    padding: 0;
    text-align: justify;
    justify-content: flex-start;
  }
  .page-item .page-content .text-container h1 {
    text-align: center;
  }
  .page-item .text-container div p:nth-child(1),
  .page-item .text-container div p:nth-child(2) {
    justify-content: center;
  }
  .page-item .page-content .text-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .page-item .page-content .photo-content .photo-background img,
  .page-item .page-content .photo-content .photo-background video {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 500px) {
  .page-item .text-container {
    width: 100%;
  }

  .page-item .page-content .photo-content {
    height: fit-content;
  }
  .page-item .page-content .photo-content.active .photo-background img,
  .page-item .page-content .photo-content.active .photo-background video {
    height: auto;
  }
}
