.page.page-contenu {
  display: block;
  border-top: 1px solid rgba(211, 211, 211, 0.25);
}
.page.page-contenu.open,
.page.page-contenu.close {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(212, 212, 212, 0.432);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: auto;
  pointer-events: all;
}
.page.page-contenu .page-body {
  opacity: inherit;
  height: auto;
  width: 100vw;
  max-width: 100vw;
  background-color: #fff;
  position: sticky;
  display: flex;
  align-items: flex-start;
  cursor: auto;
  pointer-events: all;
  overflow-y: scroll;
  padding: 0rem 2rem 5rem 2rem;
}
.page.page-contenu .back-icon {
  margin: 2rem;
  display: block;
  margin-right: auto;
  transition: 0.25s;
  cursor: pointer;
}
.page.page-contenu .back-icon:hover {
  transform: scale(1.1);
}
/* Animation OPEN*/
.page.page-contenu.open {
  animation: displayBackgroundpage 0.75s forwards;
}
.page.page-contenu.open .page-body {
  animation-delay: 0.25s;
  animation: displaypage 0.75s forwards;
}
@keyframes displaypage {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes displayBackgroundpage {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animation CLOSE */
.page.page-contenu.close {
  animation: hideBackgroundpage 0.75s forwards;
  animation-delay: 0.25s;
}
.page.page-contenu.close .page-body {
  animation: hidepage 0.75s forwards;
}
@keyframes hidepage {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes hideBackgroundpage {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

/* Responsive */

@media screen and (max-width: 1050px) {
  .page.page-contenu .close-icon {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: #000;
  }
  .page.page-contenu .page-body {
    width: 100vw;
    max-width: 100vw;
    height: auto;
    flex-direction: column;
    overflow-y: scroll;
    padding: 4rem 0;
  }
}
