.page-item {
  display: flex;
}

.page-item .page-content {
  flex: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 0;
}

/* Text container */
.page-item .text-container {
  margin: 2rem auto 4rem auto;
  padding-right: 3rem;
  width: 60%;
  font-family: "Poppins", sans-serif;
  text-align: justify;
}
.page-item .text-container h1 {
  font-size: 2em;
  color: #303030;
  font-weight: 300;
  text-transform: capitalize;
}
.page-item .text-container h1 span {
  font-weight: 200;
}
.page-item .text-container p {
  margin: 1rem 0;
  color: #303030;
  font-weight: 200;
  letter-spacing: 1px;
}
.page-item .text-container div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.page-item .text-container div p:nth-child(1),
.page-item .text-container div p:nth-child(2) {
  display: flex;
  align-items: center;
  font-size: 20px;
  text-transform: capitalize;
  width: fit-content;
  margin: 0.5rem 0;
}
.page-item .text-container div p:nth-child(1) svg,
.page-item .text-container div p:nth-child(2) svg {
  width: fit-content;
  margin: 0;
  margin-right: 1rem;
}

/* Photo container */
.page-item .page-content .photo-content {
  min-width: 1rem;
  width: fit-content;
  max-width: 90%;
  height: 40rem;
  margin: 0.5rem 1rem 2rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-item .page-content .photo-content .photo-background {
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-item .page-content .photo-content .photo-background img,
.page-item .page-content .photo-content .photo-background video {
  display: block;
  width: auto;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;

  pointer-events: none;
}
.page-item .page-content .photo-content.active {
  pointer-events: none;
  cursor: auto;
}
.page-item .page-content .photo-content.active .photo-background {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: all;
  background-color: rgba(182, 182, 182, 0.281);
}
.page-item .page-content .photo-content.active .photo-background img,
.page-item .page-content .photo-content.active .photo-background video {
  width: auto;
  max-width: 100%;
  height: 80%;
  max-height: 80%;
  object-fit: contain;
  pointer-events: all;
}

@media screen and (max-width: 1050px) {
  .page-item {
    padding: 5rem 0;
  }
  .page-item .page-content {
    padding-top: 0;
  }
  .page-item .page-content .text-container {
    margin-top: 0;
    padding: 0;
    width: 80%;
  }
  .page-item .page-content .text-container h1 {
    text-align: center;
  }
  .page-item .page-content .text-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .page-item .page-content .photo-content .photo-background img,
  .page-item .page-content .photo-content .photo-background video {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 500px) {
  .page-item .text-container {
    width: 100%;
  }

  .page-item .page-content .photo-content {
    height: fit-content;
  }
  .page-item .page-content .photo-content.active .photo-background img,
  .page-item .page-content .photo-content.active .photo-background video {
    height: auto;
  }
}
