.page-blog {
  font-family: "Poppins", sans-serif;
  position: relative;
  opacity: inherit;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  background-color: #fff;
  cursor: auto;
  pointer-events: all;
  display: flex;
  overflow: scroll;
}
.page-blog .page-blog-content {
  display: flex;
  flex-wrap: wrap;
}
.page-blog .photo-container {
  padding: 0rem;
  height: 100vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.page-blog .photo-container img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: #040312;
  cursor: auto;
}
.page-blog .back-link {
  display: none;
  margin: 2rem 0 2rem 0;
  text-align: right;
}
.page-blog .details-infos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.page-blog .details-infos p {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  letter-spacing: 1px;
}
.page-blog .details-infos p:nth-child(1) {
  font-style: italic;
}
.page-blog .details-infos p:nth-child(1),
.page-blog .details-infos p:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 200;
}
.page-blog .details-infos p:nth-child(1) svg,
.page-blog .details-infos p:nth-child(2) svg {
  margin-right: 1rem;
}
.page-blog .text-container {
  width: 60%;
  height: 100vh;
  text-align: left;
  padding: 2rem 5rem 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: scroll;
  color: #303030;
}
.page-blog .text-container h2 {
  font-weight: 400;
  margin: 1rem 0;
  position: relative;
  letter-spacing: 3px;
}
.page-blog .text-container p {
  font-weight: 200;
  font-size: 14px;
}
.page-blog .text-container p:nth-child(3) {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 2rem;
}
.page-blog .text-container p:nth-child(4) {
  max-height: 30rem;
  overflow-y: scroll;
}
.page-blog .text-container .editor-js {
  max-width: 100%;
  height: fit-content;
  max-height: 100%;
  overflow: scroll;
  font-size: 14px;
  font-weight: 200;
  text-align: left;
  pointer-events: all;
  margin-bottom: 2rem;
}

.page-blog .text-container .editor-js {
  max-width: 100%;
  height: fit-content;
  max-height: 100%;
  overflow: scroll;
  font-size: 14px;
  font-weight: 200;
  text-align: left;
  pointer-events: all;
  margin-bottom: 2rem;
}

.page-blog .page-blog-content .photos-container {
  margin: 3rem 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.page-blog .page-blog-content .photos-container .photo-content {
  width: 20rem;
  height: 20rem;
  margin: 1rem;
  cursor: pointer;
}
.page-blog
  .page-blog-content
  .photos-container
  .photo-content
  .photo-background {
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-blog
  .page-blog-content
  .photos-container
  .photo-content
  .photo-background
  img,
.page-blog
  .page-blog-content
  .photos-container
  .photo-content
  .photo-background
  video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;

  pointer-events: none;
}
.page-blog .page-blog-content .photos-container .photo-content.active {
  pointer-events: none;
  cursor: auto;
}
.page-blog
  .page-blog-content
  .photos-container
  .photo-content.active
  .photo-background {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: all;
  background-color: rgba(182, 182, 182, 0.281);
}
.page-blog
  .page-blog-content
  .photos-container
  .photo-content.active
  .photo-background
  img,
.page-blog
  .page-blog-content
  .photos-container
  .photo-content.active
  .photo-background
  video {
  width: auto;
  max-width: 100%;
  height: 80%;
  object-fit: contain;
  pointer-events: all;
}

/* Responsive */
@media screen and (min-width: 2000px) {
  .page-blog .photo-container {
    width: 60%;
  }
  .page-blog .text-container {
    width: 40%;
  }
}
@media screen and (max-width: 1500px) {
  .page-blog .text-container .editor-js {
    max-height: 100%;
  }
}
@media screen and (max-width: 1050px) {
  .page-blog svg {
    color: #303030;
  }
  .page-blog .close-icon {
    top: 1.5rem;
    right: 1.5rem;
    color: #fff;
  }
  .page-blog .page-blog-content {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0rem 0;
    border-radius: 0;
    flex-wrap: nowrap;
  }

  .page-blog .photo-container {
    width: 100%;
    height: 15rem;
    margin: 0;
    padding: 0;
    background-color: #040312;
  }
  .page-blog .photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
  }
  .page-blog .back-link {
    display: block;
  }
  .page-blog .details-infos {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
  }
  .page-blog .details-infos p {
    margin-bottom: 0;
    width: 50%;
    margin-right: 1rem;
  }
  .page-blog .text-container {
    width: 80%;
    margin: 2rem auto 2rem auto;
    height: fit-content;
    padding: 0;
    overflow: visible;
    display: block;
  }

  .page-blog .text-container .editor-js {
    height: auto;
    max-height: none;
    overflow: visible;
    margin-bottom: 0;
  }
  .page-blog .text-container h2 {
    margin-bottom: 1rem;
  }
  .page-blog .text-container h2::after {
    top: auto;
    bottom: -1rem;
    left: 0;
    width: 30vw;
  }
  .page-blog .text-container p:nth-child(2) {
    margin-bottom: 0;
  }
  .page-blog .text-container p:nth-child(3) {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 2rem;
    overflow-y: visible;
  }

  .page-blog .text-container p:nth-child(4) {
    max-height: none;
    overflow-y: visible;
  }
}
@media screen and (max-width: 550px) {
  .page-blog .page-blog-content .photos-container {
    width: 100vw;
  }
  .page-blog .photo-container .details-infos {
    flex-direction: column;
  }

  .page-blog
    .page-blog-content
    .photos-container
    .photo-content.active
    .photo-background
    img,
  .page-blog
    .page-blog-content
    .photos-container
    .photo-content.active
    .photo-background
    video {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 350px) {
  .page-blog .page-blog-content .photos-container img {
    width: 15rem;
    height: 15rem;
  }
}
