.portfolio {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: "Josefin sans", sans-serif;
  position: relative;
  background-color: #050317;
}
.portfolio h1 {
  margin-top: 4rem;
  width: 100%;
  font-weight: 600;
  position: relative;
  padding: 0 2rem;
  text-align: center;
}
.portfolio h1::after {
  content: "";
  display: block;
  width: 15rem;
  height: 1px;
  background-color: #ff0513;
  margin: 1rem auto;
}
.portfolio .part-button {
  width: 45vw;
  min-width: 20rem;
  aspect-ratio: 1/1;
  position: relative;
  padding: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: 0.25s;
  text-decoration: none;
}

.portfolio .part-button .mask {
  width: 45vw;
  min-width: 20rem;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(5, 3, 23, 0.5);
  z-index: 0;
  transition: 0.25s;
}
.portfolio .part-button:hover {
  transform: scale(1.005);
}
.portfolio .part-button:hover .mask {
  background-color: rgba(54, 54, 54, 0.24);
}
.portfolio .part-button .text-container {
  position: relative;
  color: #fff;
  height: 100%;
  width: 100%;
  border: 5px solid #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.portfolio .part-button .text-container svg {
  margin-right: 1rem;
}
.portfolio .part-button .text-container h2 {
  position: relative;
  z-index: 5;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 960px) {
  .portfolio {
    flex-direction: column;
  }
  .portfolio .part-button {
    width: 100vw;
    aspect-ratio: 1/1;
    height: 50vh;
  }
  .portfolio .part-button .mask {
    width: 100vw;
    aspect-ratio: 1/1;
    height: 50vh;
  }
  .portfolio .part-button .text-container h2 {
    font-size: 40px;
    margin: 0 !important;
  }
}
