.portfolio {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  font-family: "Poppins", sans-serif;
}
.portfolio h1 {
  margin-top: 4rem;
  width: 100%;
  font-weight: 600;
  position: relative;
  padding: 0 2rem;
}
.portfolio h1::after {
  content: "";
  display: block;
  width: 15rem;
  height: 1px;
  background-color: #ff0513;
  margin: 1rem auto;
}
.portfolio .part {
  width: 30vw;
  min-width: 20rem;
  height: 30vw;
  min-height: 20rem;
  aspect-ratio: 1/1;
  position: relative;
  padding: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.25s;
  margin: 1rem auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-decoration: none;
}
.portfolio .mask {
  width: 30vw;
  min-width: 20rem;
  height: 30vw;
  min-height: 20rem;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(54, 54, 54, 0.658);
  z-index: 0;
  transition: 0.25s;
}
.portfolio .part:hover {
  transform: scale(1.005);
}
.portfolio .part:hover .mask {
  background-color: rgba(54, 54, 54, 0.24);
}
.portfolio .part .text-container {
  position: relative;
  color: #fff;
  height: 100%;
  width: 100%;
  border: 5px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  z-index: 5;
}
.portfolio .part .text-container svg {
  margin-right: 1rem;
}
.portfolio .part:nth-child(2) .text-container svg {
  margin-bottom: 1rem;
}
.portfolio .part .text-container h2 {
  position: relative;
  z-index: 5;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 960px) {
  .portfolio {
    flex-direction: column;
  }
  .portfolio .part .text-container h2 {
    font-size: 20px;
    margin: 0 !important;
  }
}
