.press {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  background-color: #040312;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem;
}
.press .text-container {
  padding: 0rem 3rem;
}
.press .text-container h1 {
  margin-top: 4rem;
  font-weight: 600;
  position: relative;
}
.press .text-container h1::after {
  content: "";
  display: block;
  width: 15rem;
  height: 1px;
  background-color: #ff0513;
  margin: 1rem auto;
}
.press .text-container p {
  max-width: 40rem;
  font-size: 14px;
  line-height: 2rem;
  font-weight: 200;
}
.react-review-container {
  width: 40rem;
  height: 30rem;
}
