.tabe-items {
  height: auto;
  width: 100vw;
  background-color: lightblue;
  font: 400 20px "Poppins";
}

.table-items table * {
  font-family: "Poppins", sans-serif !important;
  font-weight: 300;
}
.table-items button[disabled] {
  background-color: transparent !important;
  color: #a8a8a8 !important;
}
.table-items table .MuiTableHead-root * {
  font-size: 18px !important;
}
.table-items table .MuiTableBody-root * {
  font-size: 14px !important;
}
.button-delete-contenu {
  height: 3rem;
  width: 3rem;
  background-color: red;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.25s;
  font: 400 20px "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.button-page-contenu {
  height: 3rem;
  width: 3rem;
  background-color: #f8c146;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.25s;
  font: 400 20px "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.button-modal-contenu:hover {
  background-color: #d6000b;
}
