.work-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #303030;
  margin: 1rem;
}
.work-item .date-container {
  width: auto;
  height: auto;
  position: relative;
}
.work-item .date-container:before {
  content: "";
  width: 12rem;
  height: 20rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(48, 48, 48, 0.1);
}
.work-item .date-container img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  object-position: center center;
}
.work-item .date-container h1 {
  display: block;
  text-align: center;
  padding: 1rem 1rem 0 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  line-height: 9rem;
  font-size: 200px;
  word-break: break-all;
  color: #fff;
}
.work-item .text-container {
  padding: 0 3rem;
  width: 55rem;
}
.work-item .text-container a {
  font-size: 2em;
  text-decoration: none;
  color: #303030;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  transition: 0.25s;
}
.work-item .text-container a:hover {
  text-decoration: underline;
  color: #ff0513;
}
.work-item .text-container a span {
  text-transform: capitalize;
  font-weight: 200;
}
.work-item .text-container p {
  font-family: "Poppins", sans-serif;
  text-align: justify;
  font-weight: 200;
}
.work-item .text-container p span {
  font-weight: 400;
}

.work-item .text-container p:nth-child(2) {
  display: flex;
  align-items: center;
  margin: 1rem auto;
  font-style: italic;
}
.work-item .text-container p:nth-child(2) svg {
  margin-right: 0.5rem;
}
.work-item .text-container p:nth-child(4) {
  display: flex;
  align-items: center;
  margin: 1rem auto;
}
.work-item .text-container p:nth-child(4) span {
  margin-right: 0.5rem;
}
